<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> POPULAR QUOTES </h1><br>
		<strong>Search by</strong>
	    <hr>
		<form action='/author' method='GET'>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>First Name</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='firstname' name='firstname' placeholder='Agatha' required>
				</div>
			</div>
			<div class='form-group row'>
				<label for='lastname' class='col-sm-4 col-form-label'>Last Name</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='lastname' name='lastname' placeholder='Christie' required>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
		<hr>
			
			
		<br>
		<strong>Search by</strong>
		<hr>
		<form action='/category' method='GET'>
			<div class='form-group row'>
				<label for='profession' class='col-sm-4 col-form-label'>profession</label>
				<div class='col-sm-4'>
					<select id="profession" name="profession">
						<%countries.forEach(function(profession){%>
				            <option id="profession" name ="profession" value='<%=profession%>'><%=profession%></option>
				        <%});%>
					</select>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
		
		
		<br>
		<strong>Search by</strong>
		<hr>
		<form action='/keyword' method='GET'>
			<div class='form-group row'>
				<label for='keyword' class='col-sm-4 col-form-label'>Keyword</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='keyword' name='keyword' placeholder='happiness' required>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
		<hr>
		
		<strong>Search by</strong>
		<hr>
		<form action='/gender' method='GET'>
			<div class='form-group row'>
				<label for='gender' class='col-sm-4 col-form-label'>Gender</label>
				<div class='col-sm-4'>
					<label for="male">Male</label>
					<input type="radio" id="male" name="gender" value="M" required>
					<label for="female">Female</label>
					<input type="radio" id="female" name="gender" value="F" required>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Search</button>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
		<hr>
		
	</div>
</div>

<%- include ('templates/footer'); -%>